@{
    // What Type of Files?
    string extension = ".png";   
    string folderLocation = "../Content/Gallery/WebArt/";
    string filename = "";
    string fileImage = "";

    string bgColor = "";
    string txtColor = "";
    string sizeText = "";
    string size600x600Text = "Square - Document size";
    string size1200x936Text = "Small - Print Shop Size";
    string size600x315Text = "Link-Share Card Size";
    string size1200x630Text = "Facebook Page Background Size";
    string size5184x4037Text = "Banner - Print Shop Size";
    string size2400x1080Text = "Large - Print Shop Size";
}

<!-- Go to Top Button -->
<button onclick="topFunction()" id="my-button" title="Go to top">Top</button>

<!-- View -->
<div Class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div Class="row gx-3 gx-lg-5 my-3">
        <h3 class="text-center">
            <img class="card-image-size" src="~/Content/Svg/Cards/WebArt.svg" />
            <span class="text-black">WebArt:</span><span class="text-light fs-4"> Png</span>
        </h3>
        <h5 class="text-center text-light">Images used by us Bulldogs!<br/>(Click to Expand)</h5>
    </div>

    <!-- Button Row-->
    <div class="row gx-1 gx-lg-5">

        <!-- Back Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center text-white">
                <a class="btn btn-danger text-sucess btn-sm group-button-size" href="~/Gallery/Gallery">
                    <img class="back-button-image-size" src="~/Content/Svg/buttons/Back-White.svg" />
                </a>
            </div>
        </div>

        <!-- Column Button Svg -->
        <div class="col-3 mb-2">
            <div class="h-100 w-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="~/Gallery/WebArtSVG">.Svg</a>
            </div>
        </div>

        <!-- Column Button Png -->
        <div class="col-3 mb-2">
            <div class="h-100 w-100 text-center">
                <a class="btn btn-dark btn-sm group-button-size" href="~/Gallery/WebArtPNG">.Png</a>
            </div>
        </div>

        <!-- Group Zip Button -->
        <div class="col-3 mb-2">
            <div class="h-100 w-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="~/Gallery/WebArtZip">.Zip</a>
            </div>
        </div>

    </div>

    <!-- Image List -->
    <div class="row gx-1 gx-lg-1"> 

        @{
            filename = "BD-Shirt-Paw-Front-Black-Master";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-blue-lighter";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Shirt-Paw-Front-Dark-Master";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Shirt-Paw-Front-Light-Master";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }

        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>


        @{
            filename = "BD-Shirt-Front";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Shirt-Back-DIDI-Dual";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Shirt-Back-IKWF-Dual";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-Black-600x600";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }       
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>    

        @{
            filename = "BD-Logo-Master-Black-1200x936";
            fileImage = filename + extension;
            sizeText = size1200x936Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }       
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>   

        @{
            filename = "BD-Logo-Master-Black-600x315";
            fileImage = filename + extension;
            sizeText = size600x315Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }       
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>   
        
        @{
            filename = "BD-Logo-Master-Black-1200x630";
            fileImage = filename + extension;
            sizeText = size1200x630Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }       
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>   

        @{
            filename = "BD-Logo-Master-Black-5184x4037";
            fileImage = filename + extension;
            sizeText = size5184x4037Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-BlackWhite-600x600";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }       
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>   

        @{
            filename = "BD-Logo-Master-BlackWhite-1200x936";
            fileImage = filename + extension;
            sizeText = size1200x936Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-BlackWhite-1200x936-Plain";
            fileImage = filename + extension;
            sizeText = size1200x936Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-BlackWhite-600x315";
            fileImage = filename + extension;
            sizeText = size600x315Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-BlackWhite-1200x630";
            fileImage = filename + extension;
            sizeText = size1200x630Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-BlackWhite-5184x4037";
            fileImage = filename + extension;
            sizeText = size5184x4037Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-White-600x600";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>  

        @{
            filename = "BD-Logo-Master-White-1200x936";
            fileImage = filename + extension;
            sizeText = size1200x936Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Master-White-600x315";
            fileImage = filename + extension;
            sizeText = size600x315Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>  

        @{
            filename = "BD-Logo-Master-White-1200x630";
            fileImage = filename + extension;
            sizeText = size1200x630Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>            
        </div>  

        @{
            filename = "BD-Logo-Master-White-5184x4037";
            fileImage = filename + extension;
            sizeText = size5184x4037Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Rudis-A-2400x1080";
            fileImage = filename + extension;
            sizeText = size2400x1080Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Rudis-B-2400x1080";
            fileImage = filename + extension;
            sizeText = size2400x1080Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Rudis-C-2400x1080";
            fileImage = filename + extension;
            sizeText = size2400x1080Text;
            bgColor = "bg-black";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Logo-Rudis-D-2400x1080";
            fileImage = filename + extension;
            sizeText = size2400x1080Text;
            bgColor = "bg-dark-gray";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Head-Master";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-dark-gray";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Head-Right";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-dark-gray";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Head-Right-Smile";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-dark-gray";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>

        @{
            filename = "BD-Head-Rudis";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-dark-gray";
            txtColor = "text-white";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div> 

        @{
            filename = "BD-Tot-Bash-Black-3600x2400";
            fileImage = filename + extension;
            sizeText = size600x600Text;
            bgColor = "bg-white";
            txtColor = "text-black";
        }
        <div class="col-12 col-lg-3">
            <div class="m-2 gallery-picture-box-size m-2 text-center @bgColor rounded border border-white">
                <p class="pt-2 @txtColor fw-bold">@filename</p>
                <p class="@txtColor">@sizeText</p>
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
            </div>
        </div>
    </div>
  
</div>

<!-- Add the "Top" Button to View so we can get back to the top of the page. -->
<script>

    //Get the button
    var mybutton = document.getElementById("my-button");

    // When the user scrolls down 20px from the top of the document, show the button.
    window.onscroll = function () { scrollFunction() };

    // Do we display button or not?
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document.
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
